SECRET_KEY=change-this-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,ajftech.tech,www.ajftech.tech
CSRF_TRUSTED_ORIGINS=https://ajftech.tech,https://www.ajftech.tech
DATABASE_URL=

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=AJF-Tech <no-reply@ajftech.tech>

MISTRAL_API_KEY=
